html {
    height: 100%;
}

body {
    background-color: #1b2753;
    color: #a581b3;
    font-family: 'ZackySans', sans-serif;
    font-size: 1.5em;
    height: 100%;
    
                                                                                  
}
.gameBody {
    background-color: black;
    width: 100%;
    height: 100%;
}

.gameover {
    background-color: #c28bb2;
    color: black;
}

.intro {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin: 50px 0;
    

}

#master{
    height: 100px;
}

.intromew {
    height: 500px;
}

.botintro {
    display: flex;
    justify-content: center;
    margin: auto;
}

.mad {
    text-align: center;
    
}

button {
    margin: 0 100px;
    background-color: #5e456a;
    color: #20f4f7;
    width: 400px;
    font-size: 30px;
    border-radius: 30px;
    font-family: 'Pokemon Solid', sans-serif;
    padding-bottom: 10px;
                                                
}

button:hover {
    background-color: #a581b3;
  }


li {
    width: 350px;
    font-size: 30px;
}

ul {
    list-style-type: none;
   }

   .smaller {
    font-size: 20px;
   }

   .endpoke {
        height: 300px;
   }

   .madtwo {
    height: 250px;
    
   }

   .pokeflex {
    display: flex;
    justify-content: center;
    margin-top: 200px;
   }

   .restartbtn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
   }

   .uhoh {
    text-align: left;
   }

   .trainer {
    display: flex;
    
    justify-content: center;
    font-size: 15px;
    margin-top: 75px;
    margin-bottom: 75px;
   }

   .flexscary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   }

   